anyio
asgiref
attrs
bcc
beautifulsoup4
blinker
Brlapi
certifi
chardet
chrome-gnome-shell
click
colorama
command-not-found
crispy-bootstrap4
cryptography
cupshelpers
dbus-python
defer
distlib
distro
distro-info+ubuntu01
Django
django-crispy-forms
docker
docker-compose
dockerpty
docopt
fastapi
filelock
h11
hidpidaemon
html5lib
httplib2
httptools
idna
importlib-metadata
jeepney
jsonschema
kernelstub
keyring
language-selector
launchpadlib
lazrrestfulclient
lazruri
louis
lxml
macaroonbakery
more-itertools
netaddr
oauthlib
pipenv
platformdirs
pop-transition
protobuf
pycairo
pycups
pydantic
pydbus
PyGObject
PyJWT
pymacaroons
PyNaCl
pyparsing
pyRFC3339
pyrsistent
python-apt
python-dateutil
python-debian
python-dotenv
python-gnupg
python-xlib
pytz
pyxdg
PyYAML
repolib
repoman
requests
screen-resolution-extra
SecretStorage
six
sniffio
soupsieve
sqlparse
starlette
systemd-python
texttable
typing_extensions
ubuntu-advantage-tools
ubuntu-drivers-common
ufw
urllib3
uvicorn
uvloop
virtualenv+ds
virtualenv-clone
wadllib
watchfiles
webencodings
websocket-client
websockets
xdg
xkit
zipp
